name: Build DLSS Swapper

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.303'

    - name: Display .NET Info
      run: dotnet --info

    - name: Install NSIS
      run: |
        winget install -e --id NSIS.NSIS --version 3.11 --accept-package-agreements --accept-source-agreements
    
    - name: Add NSIS to PATH
      shell: pwsh
      run: echo "C:\Program Files (x86)\NSIS\Bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      
    - name: Extract version from csproj
      shell: pwsh
      run: |
        $ver = Select-String '<Version>(.+?)</Version>' "${{ github.workspace }}\src\DLSS Swapper.csproj" | % { $_.Matches[0].Groups[1].Value }
        echo "VERSION=$ver" >> $env:GITHUB_ENV
    
    - name: Update static_manifest.json
      run: ${{ github.workspace }}\update_manifest.cmd
      working-directory: ${{ github.workspace }}\
      
    - name: Build DLSS Swapper portable
      run: ${{ github.workspace }}\package\build_Portable.cmd
      working-directory: ${{ github.workspace }}\package\

    - name: Build DLSS Swapper installer
      run: ${{ github.workspace }}\package\build_Installer.cmd
      working-directory: ${{ github.workspace }}\package\
    
    - name: Upload unsigned artifacts to be signed
      id: upload-unsigned-artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pre-signed-packages
        retention-days: 1
        path: |
          ${{ github.workspace }}\src\bin\publish\installer\DLSS Swapper.dll
          ${{ github.workspace }}\src\bin\publish\installer\DLSS Swapper.exe
          ${{ github.workspace }}\src\bin\publish\portable\DLSS Swapper.dll
          ${{ github.workspace }}\src\bin\publish\portable\DLSS Swapper.exe
        if-no-files-found: error

    - name: Sign with SignPath 
      id: sign-with-signpath
      uses: signpath/github-action-submit-signing-request@v1.2
      with:
        api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
        organization-id: '9b913506-76ef-4356-b93a-0fe60061013c'
        project-slug: 'dlss-swapper'
        signing-policy-slug: 'test-signing'
        artifact-configuration-slug: 'installer-and-portable-raw-files'
        github-artifact-id: '${{ steps.upload-unsigned-artifacts.outputs.artifact-id }}'
        wait-for-completion: true
        output-artifact-directory: '${{ github.workspace }}\src\bin\signed\'

    - name: Move signed assets into original built position
      shell: pwsh
      run: |
        Tree "${{ github.workspace }}\src\bin\signed\"
        Get-ChildItem -Path "${{ github.workspace }}\src\bin\signed\"
        Get-ChildItem -Path "${{ github.workspace }}\src\bin\signed\installer"
        Get-ChildItem -Path "${{ github.workspace }}\src\bin\signed\portable"
        Move-Item -Path "${{ github.workspace }}\src\bin\signed\installer\DLSS Swapper.dll" -Destination "${{ github.workspace }}\src\bin\publish\installer\" -Force
        Move-Item -Path "${{ github.workspace }}\src\bin\signed\installer\DLSS Swapper.exe" -Destination "${{ github.workspace }}\src\bin\publish\installer\" -Force
        Move-Item -Path "${{ github.workspace }}\src\bin\signed\portable\DLSS Swapper.dll" -Destination "${{ github.workspace }}\src\bin\publish\portable\" -Force
        Move-Item -Path "${{ github.workspace }}\src\bin\signed\portable\DLSS Swapperexe" -Destination "${{ github.workspace }}\src\bin\publish\portable\" -Force

    - name: Package DLSS Swapper portable
      run: ${{ github.workspace }}\package\package_Portable.cmd
      working-directory: ${{ github.workspace }}\package\

    - name: Upload completed signed portable build artifact
      uses: actions/upload-artifact@v4
      with:
        name: DLSS.Swapper-${{ env.VERSION }}-portable
        path: ${{ github.workspace }}\package\Output\DLSS.Swapper-${{ env.VERSION }}-portable.zip
        if-no-files-found: error

    - name: Package DLSS Swapper installer
      run: ${{ github.workspace }}\package\package_Installer.cmd
      working-directory: ${{ github.workspace }}\package\

    - name: Upload installer artifact to be signed
      id: upload-unsigned-installer-artifacts
      uses: actions/upload-artifact@v4
      with:
        name: unsigned-installer-artifacts
        retention-days: 1
        path: ${{ github.workspace }}\package\Output\DLSS.Swapper-${{ env.VERSION }}-installer.exe
        if-no-files-found: error
  
    - name: Sign installer with SignPath 
      id: sign-installer-with-signpath
      uses: signpath/github-action-submit-signing-request@v1.2
      with:
        api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
        organization-id: '9b913506-76ef-4356-b93a-0fe60061013c'
        project-slug: 'dlss-swapper'
        signing-policy-slug: 'test-signing'
        artifact-configuration-slug: 'installer'
        github-artifact-id: '${{ steps.upload-unsigned-installer-artifacts.outputs.artifact-id }}'
        wait-for-completion: true
        output-artifact-directory: '${{ github.workspace }}\src\bin\signed_installer\'

    - name: Upload completed signed installer build artifact
      uses: actions/upload-artifact@v4
      with:
        name: DLSS.Swapper-${{ env.VERSION }}-installer
        path: ${{ github.workspace }}\src\bin\signed_installer\DLSS.Swapper-${{ env.VERSION }}-installer.exe
        if-no-files-found: error
